.flashy{
  color: red;
  font-family: cursive;
  font-style: italic;
}

img.best{
  border-radius: 50%;
  max-height: 600px;
  max-width: 650px;
  border: dashed red;
}

.cupcake{
  max-width: 650px;
  font-family: cursive;
}

img.cupcake{
  border-radius: 20%;
  max-height: 500px;
  border: red;
}



.intro{
  max-width: 70%;
}

h2.intro{
    font-family: cursive;
}

img.intro{
  border: solid red;
  border-width: thick;
  display: block
}

.frontpage{
  text-align: center;
}

body {
  font-family: sans-serif;
}

.column {
  max-width: 250px;
  width: 250px;
  float: left;
  padding: 20px;
}

.column img {
  max-width: 250px;
  width: 250px;
  float: left;
  padding: 20px;
}

.bar {
  width: 150px;
  float: right;
  padding: 5px;
  background-color: lightblue;
}
